<%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => { :class => "form-horizontal"}) do |f| %>

  <div class="sign-up-steps step2 step5">
    <div class="container inner-main">
      <div class="light_shadow_bg step_data">
        <div class="flex-container">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <%= render 'shared/custom_flash' %>

            <div class="step_jobName_form stepThree_form">
              <div class="form-group col-sm-12">
                <%= f.label :email, :class => 'control-label' %>
                <%= f.email_field :email, :class => 'form-control', autofocus: true %>
                <span class="line-bdr"></span>
              </div>
              <div class="form-group col-sm-12">
                <%= f.label :password, :class => 'control-label' %>
                <%= f.password_field :password, autocomplete: "off", :class => 'form-control' %>
                <span class="line-bdr"></span>
              </div>
              <div class="form-group col-sm-12">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me, :class => 'control-label' %>
              </div>
              <div class="col-sm-12">
                <div class="step-bottom-btn-wrap">
                  <%= f.submit "Log in", class: 'btn btn-start btn-custom btn-block ' %>
                </div>
              </div>
              <div class="col-sm-12">
                <%= render "users/shared/links" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

