<% unless @no_view_screen_available_message %>
  <%= @upgrade_account_message %>

  <% @applicants.each_with_index do |applicant, index| %>

    <% screen_tabs = get_screen_tabs_for_applicant(@view_screen, applicant) %>

    <% url =  screen_tabs.count <= 1 ? "javascript:;" : applicant_path(applicant) %>

    <% applicant_details = get_details(@view_screen, applicant, screen_tabs.first) %>

    <div class="row">
      <%= link_to url, class: "#{'even' if index%2 == 0 }" do %>
        <div class="col-lg-11 col-md-11 col-sm-10 col-xs-10 p-nill">
          <div class="light-gray-bg applicant-box clearfix">
            <% applicant_details.each do |index, tab_field| %>
              <h2><%= tab_field["question"] %></h2>
              <span><%= tab_field["answer"] %></span>
            <% end %>
          </div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2 dashApplicant-blog">
          <div class="pull-right"><span class="light-red-bdr"><i class="fa fa-question light-red-clr" aria-hidden="true"></i></span></div>
        </div>
      <% end %>
    </div>
  <% end %>
<% else %>
  <div class="row">
    <div class="col-lg-11 col-md-11 col-sm-10 col-xs-10 p-nill">
      <center><%= @no_view_screen_available_message %></center>
    </div>
  </div>
<% end %>
