<% unless @no_view_screen_available_message %>
  <div class="row">
    <div class="col-lg-12">
      <center><%= @upgrade_account_message %></center>
    </div>
  </div>

  <div class="list-group">
    <% @applicants.each_with_index do |applicant, index| %>

      <% url = @view_screen.screen_tabs.active.count == 1 ? "javascript:;" : applicant_path(applicant) %>

      <%= link_to url, class: "list-group-item list-group-item-action flex-column align-items-start #{'even' if index%2 == 0 }" do %>
        <% applicant_details = get_details(@view_screen, applicant) %>

        <% applicant_details.each do |index, tab_field| %>
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><%= tab_field["question"] %></h5>
            <small><%= tab_field["answer"] %></small>
          </div>
          <div class="<%= 'border' if index<applicant_details.size-1 %>"></div>
        <% end %>
      <% end %>

    <% end %>
  </div>
<% else %>
  <div class="row">
    <div class="col-lg-12">
      <center><%= @no_view_screen_available_message %></center>
    </div>
  </div>
<% end %>
