<div class="row">
  <div class="col-sm-12 mbl">
    <% if tab_index == 0 %>
      <a href="<%= applicants_path %>" class="btn btn-primary btn-sm pull-left"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Previous</a>
    <% else %>
      <a href="#screen_tab-<%= tab_index-1 %>" aria-controls="screen_tab-<%= tab_index-1 %>" role="tab" data-toggle="tab" class="btn btn-primary btn-sm pull-left"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Previous</a>
    <% end %>

    <% if tab_index < screen_tabs_size %>
      <a href="#screen_tab-<%= tab_index+1 %>" aria-controls="screen_tab-<%= tab_index+1 %>" role="tab" data-toggle="tab" class="btn btn-primary btn-sm pull-right">Next <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
    <% end %>
  </div>
</div>
