<%= nested_form_for [:admins, @view_screen], :html => { :class => "form-horizontal view_screen" } do |f| %>
  <% if @view_screen.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@view_screen.errors.count, "error") %> prohibited this view_screen from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @view_screen.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <!-- <div class="form-group">
    <%#= f.label :screen_for, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%#= f.select :screen_for, ViewScreen.screen_fors.map(&:reverse), {:class => 'form-control', prompt: 'Select any'}, {} %>
    </div>
    <%#=f.error_span(:screen_for) %>
  </div> -->

  <%= f.hidden_field :screen_for %>

  <% if !@view_screen.new_record? %>
      <div class="form-group">
        <%#= screen_tab.label :name, :class => 'control-label col-lg-4' %>
        <div class="col-lg-8">
          <%= f.check_box :is_active %>
          <%= f.label :is_active, 'Active' %>
        </div>
        <%=f.error_span(:is_active) %>
      </div>
    <% end %>

  <div class="row">
    <%= render "screen_tabs", f: f %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                admins_view_screens_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
