
<%= screen_tab.fields_for :tab_fields do |tab_field| %>
  <div class="form-group">
    <%= tab_field.label :job_application_question_id, :class => 'control-label col-lg-4' %>
    <div class="col-lg-8">
      <%= tab_field.collection_select :job_application_question_id, JobApplicationQuestion.all, :id, :question, { prompt: "Select Question"}, { class: 'form-control' } %>
    </div>
    <%=tab_field.error_span(:job_application_question_id) %>
  </div>
<% end %>

<%= screen_tab.link_to_add "Add Field", :tab_fields, :class=> "btn btn-primary",:id => "add_field" %>
