<%- model_class = JobApplication -%>
<%- applicant_class = Applicant -%>

<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= applicant_class.human_attribute_name(:mobile_no) %></th>
      <th><%#= model_class.human_attribute_name(:message_type) %></th>
      <th><%#= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @job_applications.each do |job_application| %>
      <tr>
        <td><%= link_to job_application.id, job_application_path(job_application.token) %></td>
        <td><%= job_application.applicant.mobile_no %></td>
        <td><%=  %></td>
        <td><%=  %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      job_application_path(job_application.token), :class => 'btn btn-default btn-xs' %>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>