<%- model_class = JobApplication -%>

<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<% screen_tabs = @view_screen.screen_tabs.offset(1) %>
<div class="tab-content">
  <% screen_tabs.each_with_index do |screen_tab, tab_index| %>
    <div role="tabpanel" class="tab-pane <%='active' if tab_index==0 %>" id="screen_tab-<%=tab_index%>">
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <% answers = get_answers(@view_screen, @job_application, screen_tab) %>

        <% answers.each do |index, answer|%>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#<%= answer['question_id']%>-<%= index %>" aria-expanded="<%= index == 0 %>" aria-controls="<%= answer['question_id']%>-<%= index %>">
                <%= answer["question"] %>
              </h4>
            </div>
            <div id="<%= answer['question_id']%>-<%= index %>" class="panel-collapse collapse <%= 'in' if index == 0 %>" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body">
                <%= answer["answer"] %>
              </div>
            </div>
          </div>
        <% end %>

        <hr>
        <div class="row">
          <div class="col-sm-12 mbl">
            <% if tab_index == 0 %>
              <a href="<%= job_applications_path %>" class="btn btn-primary btn-sm pull-left"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Previous</a>
            <% else %>
              <a href="#screen_tab-<%= tab_index-1 %>" aria-controls="screen_tab-<%= tab_index-1 %>" role="tab" data-toggle="tab" class="btn btn-primary btn-sm pull-left"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Previous</a>
            <% end %>

            <% if tab_index < screen_tabs.size-1 %>
              <a href="#screen_tab-<%= tab_index+1 %>" aria-controls="screen_tab-<%= tab_index+1 %>" role="tab" data-toggle="tab" class="btn btn-primary btn-sm pull-right">Next <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
