<%- model_class = DefaultSetting -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>

<%= form_for [:admins, @default_setting], :html => { :class => "form-horizontal response_message" }  do |f| %>

  <% if @default_setting.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@default_setting.errors.count, "error") %> prohibited this default_setting from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @default_setting.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>


  <div class="form-group">
    <%= f.label :default_max_application_limit_for_trail_merchant, :class => 'control-label col-lg-4' %>
    <div class="col-lg-8">
      <%= f.number_field :default_max_application_limit_for_trail_merchant, :class => 'form-control' %>
    </div>
    <%=f.error_span(:default_max_application_limit_for_trail_merchant) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                admins_root_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>