<table class="table table-hover">
  <tbody>
    <% if current_user.merchant? %>
      <tr>
        <td><%= radio_button_tag :organization, current_user.id, organization_user_id == current_user.id.to_s, class: 'organization-radio' %></td>
        <td><label for="organization_<%= current_user.id %>"><%= current_user.organization_name %></label></td>
      </tr>
    <% end %>

    <% invitations.map(&:sender).each do |user| %>
      <tr>
        <td><%= radio_button_tag :organization, user.id, organization_user_id == user.id.to_s, class: 'organization-radio' %></td>
        <td><label for="organization_<%= user.id %>"><%= user.organization_name %></label></td>
      </tr>
    <% end %>
  </tbody>
</table>
