<%= form_for current_user, url: update_organization_name_path, remote: true, html: { class: 'form-horizontal organization_name_form' } do |f| %>
  <div class="modal-body">
    <div class="form-group">
      <%= f.label :organization_name, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.hidden_field :edit_organization, value: true %>
        <%= f.text_field :organization_name, :class => 'form-control', autofocus: true %>
      </div>
      <%=f.error_span(:organization_name) %>
    </div>
  </div>
<% end %>
