<%- model_class = User %>

<% if current_user %>
  <div class="dash-blog clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="row">
        <div class="pull-left">
          <%= link_to image_tag("applicant_icon.png", class: "img-responsive"), applicants_path, class: "applicant-blog-first light-red-bg text-center paxl" %>
        </div>
        <div class="pull-left">
          <p class="light-red-clr">
            <%= link_to 'Applicants', applicants_path, class: "light-red-clr" %>
          </p>
        </div>
        <div class="pull-right">
          <span class="light-red-bdr">
            <i class="fa fa-question light-red-clr" aria-hidden="true"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="divider-bdr"></div>
  <div class="dash-blog clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="row">
        <div class="pull-left">
          <%= link_to image_tag("callborder_icon.png", class: "img-responsive"), applicants_path, class: "applicant-blog-first light-meru-bg text-center paxl" %>
        </div>
        <div class="pull-left">
          <p class="light-meru-clr">
            <%= link_to 'Collaborators', '#', class: "light-meru-clr" %>
          </p>
        </div>

        <div class="pull-right">
          <span class="light-meru-bdr">
            <i class="fa fa-question light-meru-clr" aria-hidden="true"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="divider-bdr"></div>
  <div class="dash-blog clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="row">
        <div class="pull-left">
          <%= link_to image_tag("callborder_icon.png", class: "img-responsive"), applicants_path, class: "applicant-blog-first light-parpal-bg text-center paxl" %>
        </div>
        <div class="pull-left">
          <p class="light-parpal-clr">
            <%= link_to 'Profile Settings', '#', class: "light-parpal-clr" %>
          </p>
        </div>

        <div class="pull-right">
          <span class="light-parpal-bdr">
            <i class="fa fa-question light-parpal-clr" aria-hidden="true"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="divider-bdr"></div>
<% else %>
  <div class="sign-up-steps">
    <div class="container inner-main"> 
      <div class="light_shadow_bg step_data text-center">     
        <div class="flex-container">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> 
            <h3>simp<span>apply</span></h3>
            <h4>Nice to see you!</h4>          
            <p>Do you need a new employer? Create<br /> a new job here!</p>
            <div class="col-sm-12">
              <%= link_to 'Give me My Sign', new_user_registration_path, class: 'btn btn-start btn-custom btn-block', method: :get %>
            </div>
            <div class="clearfix"></div>
            <span class="already_text">
              Already registered?
              <%= link_to 'Sign in', new_user_session_path, method: :get %>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
