<%- lang = params[:lang] || 'en' -%>

<% Globalize.with_locale(lang.to_sym) do %>
  <%= form_for [:admins, @response_message], :html => { :class => "form-horizontal response_message" } do |f| %>

    <% if @response_message.errors.any? %>
      <div id="error_expl" class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title"><%= pluralize(@response_message.errors.count, "error") %> prohibited this response_message from being saved:</h3>
        </div>
        <div class="panel-body">
          <ul>
          <% @response_message.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <% unless @response_message.new_record? %>
      <div class="form-group">
        <%= f.label :locale, :class => 'control-label col-lg-2' %>
        <div class="col-lg-10">
          <%= f.select :locale, @locales, selected: params[:lang], :class => 'form-control', prompt: 'Select any' %>
        </div>
        <%=f.error_span(:locale) %>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :message_type, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.select :message_type, ResponseMessage.message_types.map(&:reverse), {:class => 'form-control', prompt: 'Select any'}, {disabled: !@response_message.new_record?} %>
      </div>
      <%=f.error_span(:message_type) %>
    </div>

    <div class="form-group">
      <%= f.label :message, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_area :message, :class => 'form-control tags' %>
        <% @message_tags.each_with_index do |tag, index| %>
          <%= link_to "#{tag.tag_name}", "javascript:;", class: "tag_links" %>
          <%= "," if index+1 < @message_tags.size %>
        <% end %>
      </div>
      <%=f.error_span(:message) %>
    </div>

    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-10">
        <% button_text = @response_message.new_record? ? nil : (t '.status', :default => (params[:lang] ? t("helpers.buttons.edit_translation") : t("helpers.buttons.create_translation"))) %>
        <%= f.submit button_text, :class => 'btn btn-primary' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  admins_response_messages_path, :class => 'btn btn-default' %>
      </div>
    </div>
  <% end %>
<% end %>
