<tr>
  <td><%= invite_user.id %></td>
  <td><%= invite_user.email %></td>
  <td><%= invite_user.role %></td>
  <td><%= invite_user.invitation_sent_at %></td>
  <td><%= invite_user.invite_status %></td>
  <td></td>
</tr>
