<div class="container inner-main">
  <div class="light_shadow_bg step_data text-center">
    <div class="flex-container">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <%= render 'shared/custom_flash' %>

        <h2><%= t 'devise.invitations.edit.header' %></h2>

        <%= form_for resource, :as => resource_name, :url => invitation_path(resource_name, invitation_token: params[:invitation_token]), :html => { :method => :put } do |f| %>

          <div class="step_jobName_form stepThree_form">

            <%= f.hidden_field :invitation_token %>
            <%= f.hidden_field :is_merchant, value: false %>

            <div class="form-group clearfix col-sm-12">
              <%= f.email_field :email, value: (resource.temp_email? ? nil : resource.email), autofocus: true, placeholder: 'Email', :class => 'form-control' %>
              <%= f.error_span(:email) %>
            </div>

            <div class="form-group clearfix col-sm-12">
              <%= f.text_field :first_name, placeholder: 'First name', :class => 'form-control' %>
            </div>

            <div class="form-group clearfix col-sm-12">
              <%= f.text_field :last_name, placeholder: 'Last name', :class => 'form-control' %>
            </div>

            <div class="form-group clearfix col-sm-12">
              <%= f.text_field :mobile_no, :class => 'form-control', placeholder: '+147236587' %>
              <%= f.error_span(:mobile_no) %>
            </div>

            <div class="form-group clearfix col-sm-12">
              <%= f.select :locale, I18n.available_locales, {}, :class => 'form-control' %>
            </div>

            <% if f.object.class.require_password_on_accepting %>
              <div class="form-group clearfix col-sm-12">
                <%= f.password_field :password, autocomplete: "off", :class => 'form-control', placeholder: 'Password' %>
                <%= f.error_span(:password) %>
              </div>

              <div class="form-group clearfix col-sm-12">
                <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'form-control', placeholder: 'Confirm Password' %>
                <%= f.error_span(:confirm_password) %>
              </div>
            <% end %>

            <div class="col-sm-12">
              <div class="step-bottom-btn-wrap">
                <%= f.submit t("devise.invitations.edit.submit_button"), class: 'btn btn-start btn-custom btn-block ' %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
