<%- model_class = User %>
<div class="page-header">
  <h1 id="organization_name">
    <%= current_organization_name || current_user.organization_name %>
  </h1>
</div>

<br>

<% if current_user.merchant? || current_user.manager?(current_organization_user) %>
  <h2><%= t "devise.invitations.new.header" %></h2>

  <%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post, class: 'form-horizontal'} do |f| %>
    <%= devise_error_messages! %>

    <!-- <%# resource.class.invite_key_fields.each do |field| -%>
      <p><%#= f.label field %><br />
      <%#= f.text_field field %></p>
    <%# end -%> -->

    <!-- <div class="form-group">
      <%#= f.label :email, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%#= f.email_field :email, autofocus: true, :class => 'form-control' %>
      </div>
    </div> -->

    <div class="form-group">
      <%= f.label :mobile_no, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <div class="col-lg-5 no-padding-left">
          <%= f.select :country_code, options_for_select(get_country_code_options, selected: f.object.country_code), :class => 'form-control' %>
        </div>
        <div class="col-lg-6">
          <%= f.text_field :mobile_no, autofocus: true, :class => 'form-control' %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :user_role, 'Role', class: 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.select :user_role, UserInvitation.roles.map{ |key, value| [value, key] }, :class => 'form-control' %>
      </div>
    </div>

    <div class=" form-group">
      <div class="col-lg-offset-2 col-lg-10">
        <%= f.submit t("devise.invitations.new.submit_button"), :class => 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
<% end %>

<%= render 'invite_users', invite_users: @user_invitations %>
