<%= content_for :top_div_class, 'dashApplicant dashboard-profile-wrapper step_bg' %>
<div class="dashApplicant-header light-parpal-bg clearfix">
  <span class="light-bg-purpallight pull-left">
    <a href="/users/edit"><i class="fa fa-long-arrow-left light-red-clr white-bdr" aria-hidden="true"></i></a>
  </span>
  <h2 class="text-center">Edit Profile</h2>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mtl">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => { method: :put}) do |f| %>
    <%= f.hidden_field :is_merchant, value: resource.merchant? %>

      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label :email, :class => 'control-label' %>
        <%= f.email_field :email, autofocus: true, :class => 'form-control' %>
      </div>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="form-group">
        <%= f.label :first_name, :class => 'control-label' %>
        <%= f.text_field :first_name, :class => 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :last_name, :class => 'control-label' %>
        <%= f.text_field :last_name, :class => 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :mobile_no, :class => 'control-label' %>
        <%= f.text_field :mobile_no, :class => 'form-control', placeholder: '+147236587' %>
      </div>

      <% if resource.merchant? %>
        <div class="form-group">
          <%= f.label :organization_name, :class => 'control-label' %>
          <%= f.text_field :organization_name, :class => 'form-control' %>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :locale, :class => 'control-label' %>
        <div class="clearfix"></div>
        <%= f.select :locale, I18n.available_locales, {}, :class => 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :address, :class => 'control-label' %>
        <%= f.text_field :address, :class => 'form-control' %>
        <%= f.hidden_field :lat, :class => 'form-control' %>
        <%= f.hidden_field :lng, :class => 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password, :class => 'control-label' %>
          <i>(leave blank if you don't want to change it)</i>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
          <%= f.password_field :password, autocomplete: "off", :class => 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, :class => 'control-label' %>
        <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :current_password, :class => 'control-label' %>
          <i>(we need your current password to confirm your changes)</i>
          <%= f.password_field :current_password, autocomplete: "off", :class => 'form-control' %>
      </div>

    <div class="skip-add-btn">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><a href="#" class="btn btn-gray-light light-parpal-bg btn-block text-center">Cancel </a></div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <%= f.submit "Update", :class => 'btn btn-start light-parpal-bg btn-block text-center' %>
        </div>
      </div>
    </div>
  <% end %>
 </div>
