<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name, token: params[:token]), :html => { :class => "form-horizontal response_message" }) do |f| %>
  <%= devise_error_messages! %>

  <%= f.hidden_field :token, value: params[:token] || resource.token %>

  <div class="form-group">
    <%= f.label :email, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.email_field :email, autofocus: true, :class => 'form-control', readonly: @merchant.email.present? %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :mobile_no, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :mobile_no, :class => 'form-control', readonly: @merchant.mobile_no.present?, placeholder: '+147236587' %>
     </div>
   </div>

  <div class="form-group">
    <%= f.label :locale, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select :locale, I18n.available_locales, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off", :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'form-control' %>
    </div>
  </div>

  <div class=" form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit "Sign up", :class => 'btn btn-primary' %>
      <%= render "users/shared/links" %>
    </div>
  </div>
<% end %>


