<%= form_for(resource, as: resource_name, url: registration_path(resource_name, token: params[:token]), :html => { :class => "form-horizontal", id: 'installationForm' }) do |f| %>
  <%= devise_error_messages! %>

  <%= f.hidden_field :token, value: params[:token] || resource.token %>
  <%= f.hidden_field :is_merchant, value: true %>
  <ul class="nav nav-pills hide">
    <% unless has_token? %>
      <li class="active"><a href="#merchant-code" data-toggle="tab">merchant-code</a></li>
    <% end %>
    <li class="<%= has_token? ? 'active' : '' %>"><a href="#user-info" data-toggle="tab">user-info</a></li>
    <% unless has_token? %>
      <li><a href="#mobile-code" data-toggle="tab">mobile-code</a></li>
    <% end %>
    <li><a href="#business-info" data-toggle="tab">business-info</a></li>
  </ul>

  <div class="tab-content">
    <%= render 'merchant_code_step', f: f %>
    <%= render 'user_info_step', f: f %>
    <%= render 'mobile_code_step', f: f %>
    <%= render 'business_info_step', f: f %>
  </div>
<% end %>
